.desktop-orders {
  background-color: #f3f3f3;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop-orders .rectangle {
  position: absolute;
  top: 717px;
  left: 997px;
  width: 73px;
  height: 17px;
  background-color: #8080804c;
  border-radius: 20px;
}

.desktop-orders .div {
  position: absolute;
  top: 662px;
  left: 997px;
  width: 73px;
  height: 17px;
  background-color: #0000ff4c;
  border-radius: 20px;
}

.desktop-orders .rectangle-2 {
  position: absolute;
  top: 614px;
  left: 997px;
  width: 73px;
  height: 17px;
  background-color: #ffa5004c;
  border-radius: 20px;
}

.desktop-orders .rectangle-3 {
  position: absolute;
  top: 561px;
  left: 997px;
  width: 73px;
  height: 17px;
  background-color: #0000ff4c;
  border-radius: 20px;
}

.desktop-orders .rectangle-4 {
  position: absolute;
  top: 513px;
  left: 997px;
  width: 73px;
  height: 17px;
  background-color: #ffa5004c;
  border-radius: 20px;
}

.desktop-orders .rectangle-5 {
  position: absolute;
  top: 614px;
  left: 879px;
  width: 73px;
  height: 17px;
  background-color: #ff00004c;
  border-radius: 20px;
}

.desktop-orders .rectangle-6 {
  position: absolute;
  top: 663px;
  left: 879px;
  width: 73px;
  height: 17px;
  background-color: #0080004c;
  border-radius: 20px;
}

.desktop-orders .rectangle-7 {
  position: absolute;
  top: 513px;
  left: 879px;
  width: 73px;
  height: 17px;
  background-color: #0080004c;
  border-radius: 20px;
}

.desktop-orders .rectangle-8 {
  position: absolute;
  top: 561px;
  left: 879px;
  width: 73px;
  height: 17px;
  background-color: #0080004c;
  border-radius: 20px;
}

.desktop-orders .rectangle-9 {
  position: absolute;
  top: 717px;
  left: 879px;
  width: 73px;
  height: 17px;
  background-color: #0080004c;
  border-radius: 20px;
}

.desktop-orders .rectangle-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 290px;
  height: 1024px;
  background-color: #00aeef;
}

.desktop-orders .line {
  top: 143px;
  left: 0;
  width: 290px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.desktop-orders .img {
  top: 865px;
  left: 0;
  width: 290px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.desktop-orders .element {
  position: absolute;
  top: 33px;
  left: 25px;
  width: 79px;
  height: 79px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop-orders .text-wrapper {
  position: absolute;
  top: 55px;
  left: 117px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-2 {
  position: absolute;
  top: 76px;
  left: 117px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .rectangle-11 {
  position: absolute;
  top: 0;
  left: 289px;
  width: 1151px;
  height: 104px;
}

.desktop-orders .rectangle-12 {
  position: absolute;
  top: 245px;
  left: 336px;
  width: 1044px;
  height: 90px;
}

.desktop-orders .edit-icon {
  position: absolute;
  top: 511px;
  left: 1297px;
  width: 21px;
  height: 20px;
}

.desktop-orders .vector {
  position: absolute;
  width: 82.79%;
  height: 85.43%;
  top: 14.57%;
  left: 17.21%;
}

.desktop-orders .vector-2 {
  position: absolute;
  width: 37.79%;
  height: 77.93%;
  top: 22.07%;
  left: 62.21%;
}

.desktop-orders .rectangle-13 {
  position: absolute;
  top: 270px;
  left: 372px;
  width: 982px;
  height: 40px;
}

.desktop-orders .rectangle-14 {
  position: absolute;
  top: 374px;
  left: 341px;
  width: 1044px;
  height: 431px;
}

.desktop-orders .text-wrapper-3 {
  position: absolute;
  top: 401px;
  left: 360px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-4 {
  position: absolute;
  top: 29px;
  left: 337px;
  font-family: "Times New Roman-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-orders .text-wrapper-5 {
  position: absolute;
  top: 61px;
  left: 341px;
  font-family: "Poppins-Thin", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .rectangle-15 {
  position: absolute;
  top: -56px;
  left: -1180px;
  width: 21px;
  height: 23px;
}

.desktop-orders .frame {
  position: absolute;
  top: 469px;
  left: 49px;
  width: 33px;
  height: 33px;
  aspect-ratio: 1;
}

.desktop-orders .vector-3 {
  position: absolute;
  width: 89.27%;
  height: 89.27%;
  top: 10.73%;
  left: 10.73%;
}

.desktop-orders .vector-4 {
  position: absolute;
  width: 26.77%;
  height: 64.27%;
  top: 35.73%;
  left: 73.23%;
}

.desktop-orders .vector-5 {
  position: absolute;
  width: 47.61%;
  height: 80.94%;
  top: 19.06%;
  left: 52.39%;
}

.desktop-orders .vector-6 {
  position: absolute;
  width: 68.44%;
  height: 43.44%;
  top: 56.56%;
  left: 31.56%;
}

.desktop-orders .vector-7 {
  position: absolute;
  width: 97.71%;
  height: 5.86%;
  top: 94.14%;
  left: 2.29%;
}

.desktop-orders .frame-2 {
  position: absolute;
  top: 397px;
  left: 46px;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.desktop-orders .vector-8 {
  position: absolute;
  width: 93.68%;
  height: 39.52%;
  top: 60.48%;
  left: 6.32%;
}

.desktop-orders .vector-9 {
  position: absolute;
  width: 35.35%;
  height: 88.98%;
  top: 11.02%;
  left: 64.65%;
}

.desktop-orders .vector-10 {
  position: absolute;
  width: 22.85%;
  height: 38.98%;
  top: 61.02%;
  left: 77.15%;
}

.desktop-orders .vector-11 {
  position: absolute;
  width: 81.18%;
  height: 89.52%;
  top: 10.48%;
  left: 18.82%;
}

.desktop-orders .rectangle-16 {
  position: absolute;
  top: 317px;
  left: 19px;
  width: 246px;
  height: 58px;
}

.desktop-orders .rectangle-17 {
  position: absolute;
  top: 153px;
  left: 1228px;
  width: 143px;
  height: 44px;
}

.desktop-orders .rectangle-18 {
  position: absolute;
  top: 890px;
  left: 22px;
  width: 246px;
  height: 58px;
}

.desktop-orders .text-wrapper-6 {
  position: absolute;
  top: 901px;
  left: 51px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-7 {
  position: absolute;
  top: 915px;
  left: 50px;
  font-family: "Poppins-ThinItalic", Helvetica;
  font-weight: 100;
  font-style: italic;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .union {
  position: absolute;
  top: 329px;
  left: 49px;
  width: 25px;
  height: 24px;
}

.desktop-orders .container {
  display: flex;
  flex-direction: column;
  width: 31px;
  height: 31px;
  align-items: flex-start;
  position: absolute;
  top: 248px;
  left: 49px;
}

.desktop-orders .icon {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 31px;
}

.desktop-orders .text-wrapper-8 {
  position: absolute;
  top: 252px;
  left: 104px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-9 {
  position: absolute;
  top: 330px;
  left: 104px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-10 {
  position: absolute;
  top: 401px;
  left: 103px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .reports-analytics {
  position: absolute;
  top: 475px;
  left: 103px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-11 {
  position: absolute;
  top: 965px;
  left: 78px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-12 {
  position: absolute;
  top: 144px;
  left: 336px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .p {
  top: 161px;
  left: 1254px;
  width: 20px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .span {
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
}

.desktop-orders .text-wrapper-13 {
  font-size: 13px;
}

.desktop-orders .text-wrapper-14 {
  position: absolute;
  top: 164px;
  left: 1278px;
  width: 72px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .search {
  position: absolute;
  top: 278px;
  left: 386px;
  width: 24px;
  height: 24px;
}

.desktop-orders .text-wrapper-15 {
  position: absolute;
  top: 281px;
  left: 429px;
  opacity: 0.65;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-16 {
  position: absolute;
  top: 189px;
  left: 341px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-17 {
  position: absolute;
  top: 465px;
  left: 386px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-18 {
  position: absolute;
  top: 465px;
  left: 529px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-19 {
  position: absolute;
  top: 465px;
  left: 660px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-20 {
  position: absolute;
  top: 465px;
  left: 766px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-21 {
  position: absolute;
  top: 465px;
  left: 887px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-22 {
  position: absolute;
  top: 465px;
  left: 1014px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-23 {
  position: absolute;
  top: 465px;
  left: 1130px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-24 {
  position: absolute;
  top: 465px;
  left: 1287px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .line-2 {
  top: 497px;
  left: 363px;
  width: 1000px;
  height: 4px;
  position: absolute;
  object-fit: cover;
}

.desktop-orders .line-3 {
  top: 541px;
  left: 363px;
  width: 1000px;
  height: 4px;
  position: absolute;
  object-fit: cover;
}

.desktop-orders .line-4 {
  top: 593px;
  left: 363px;
  width: 1000px;
  height: 4px;
  position: absolute;
  object-fit: cover;
}

.desktop-orders .line-5 {
  top: 645px;
  left: 363px;
  width: 1000px;
  height: 4px;
  position: absolute;
  object-fit: cover;
}

.desktop-orders .line-6 {
  top: 697px;
  left: 363px;
  width: 1000px;
  height: 4px;
  position: absolute;
  object-fit: cover;
}

.desktop-orders .text-wrapper-25 {
  top: 512px;
  left: 373px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-26 {
  position: absolute;
  top: 506px;
  left: 402px;
  width: 86px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-27 {
  position: absolute;
  top: 513px;
  left: 1130px;
  width: 86px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-28 {
  top: 560px;
  position: absolute;
  left: 1130px;
  width: 86px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-29 {
  top: 614px;
  position: absolute;
  left: 1130px;
  width: 86px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-30 {
  top: 663px;
  position: absolute;
  left: 1130px;
  width: 86px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-31 {
  top: 716px;
  position: absolute;
  left: 1130px;
  width: 86px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-32 {
  position: absolute;
  top: 512px;
  left: 521px;
  width: 112px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-33 {
  position: absolute;
  top: 512px;
  left: 667px;
  width: 29px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-34 {
  top: 560px;
  position: absolute;
  left: 667px;
  width: 29px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-35 {
  top: 612px;
  position: absolute;
  left: 667px;
  width: 29px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-36 {
  top: 663px;
  position: absolute;
  left: 667px;
  width: 29px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-37 {
  top: 717px;
  position: absolute;
  left: 667px;
  width: 29px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-38 {
  top: 561px;
  width: 89px;
  position: absolute;
  left: 526px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-39 {
  top: 612px;
  width: 103px;
  position: absolute;
  left: 526px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-40 {
  top: 663px;
  width: 89px;
  position: absolute;
  left: 526px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-41 {
  top: 717px;
  width: 103px;
  position: absolute;
  left: 526px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-42 {
  top: 560px;
  left: 371px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-43 {
  top: 561px;
  position: absolute;
  left: 402px;
  width: 86px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-44 {
  top: 613px;
  left: 371px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-45 {
  top: 664px;
  left: 371px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .al-james-plaza {
  top: 607px;
  position: absolute;
  left: 402px;
  width: 86px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .dimelyn-via {
  position: absolute;
  top: 656px;
  left: 402px;
  width: 86px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-46 {
  top: 716px;
  left: 371px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .aldis-valdehueza {
  position: absolute;
  top: 710px;
  left: 402px;
  width: 86px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-47 {
  position: absolute;
  top: 512px;
  left: 772px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-48 {
  top: 560px;
  left: 773px;
  position: absolute;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-49 {
  top: 614px;
  left: 770px;
  position: absolute;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-50 {
  top: 662px;
  left: 772px;
  position: absolute;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-51 {
  top: 716px;
  left: 772px;
  position: absolute;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-52 {
  position: absolute;
  top: 514px;
  left: 903px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #008000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-53 {
  top: 563px;
  left: 904px;
  position: absolute;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #008000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-54 {
  top: 664px;
  left: 903px;
  position: absolute;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #008000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-55 {
  position: absolute;
  top: 614px;
  left: 897px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ff0000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-56 {
  top: 718px;
  left: 903px;
  position: absolute;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #008000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-57 {
  position: absolute;
  top: 514px;
  left: 1006px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #e4d329;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-58 {
  position: absolute;
  top: 718px;
  left: 1011px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #808080;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-59 {
  position: absolute;
  top: 615px;
  left: 1007px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #e4d329;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .print-icon {
  position: absolute;
  top: 508px;
  left: 1264px;
  width: 26px;
  height: 26px;
}

.desktop-orders .vector-12 {
  position: absolute;
  width: 72.25%;
  height: 82.25%;
  top: 17.75%;
  left: 27.75%;
}

.desktop-orders .vector-13 {
  position: absolute;
  width: 82.25%;
  height: 67.25%;
  top: 32.75%;
  left: 17.75%;
}

.desktop-orders .vector-14 {
  position: absolute;
  width: 72.25%;
  height: 47.25%;
  top: 52.75%;
  left: 27.75%;
}

.desktop-orders .vector-15 {
  position: absolute;
  width: 28.75%;
  height: 56.25%;
  top: 43.75%;
  left: 71.25%;
}

.desktop-orders .delete-icon {
  position: absolute;
  top: 507px;
  left: 1326px;
  width: 23px;
  height: 26px;
}

.desktop-orders .vector-16 {
  position: absolute;
  width: 82.54%;
  height: 67.25%;
  top: 32.75%;
  left: 17.46%;
}

.desktop-orders .vector-17 {
  position: absolute;
  width: 62.54%;
  height: 77.25%;
  top: 22.75%;
  left: 37.46%;
}

.desktop-orders .vector-18 {
  position: absolute;
  width: 77.54%;
  height: 67.25%;
  top: 32.75%;
  left: 22.46%;
}

.desktop-orders .vector-19 {
  position: absolute;
  width: 62.54%;
  height: 52.25%;
  top: 47.75%;
  left: 37.46%;
}

.desktop-orders .edit-icon-2 {
  top: 561px;
  left: 1296px;
  position: absolute;
  width: 21px;
  height: 20px;
}

.desktop-orders .print-icon-2 {
  top: 558px;
  left: 1263px;
  position: absolute;
  width: 26px;
  height: 26px;
}

.desktop-orders .delete-icon-2 {
  top: 557px;
  left: 1325px;
  position: absolute;
  width: 23px;
  height: 26px;
}

.desktop-orders .edit-icon-3 {
  top: 612px;
  left: 1297px;
  position: absolute;
  width: 21px;
  height: 20px;
}

.desktop-orders .vector-20 {
  position: absolute;
  width: 82.79%;
  height: 85.42%;
  top: 14.58%;
  left: 17.21%;
}

.desktop-orders .vector-21 {
  position: absolute;
  width: 37.79%;
  height: 77.92%;
  top: 22.08%;
  left: 62.21%;
}

.desktop-orders .print-icon-3 {
  top: 609px;
  left: 1264px;
  position: absolute;
  width: 26px;
  height: 26px;
}

.desktop-orders .delete-icon-3 {
  top: 608px;
  left: 1326px;
  position: absolute;
  width: 23px;
  height: 26px;
}

.desktop-orders .edit-icon-4 {
  top: 662px;
  left: 1296px;
  position: absolute;
  width: 21px;
  height: 20px;
}

.desktop-orders .print-icon-4 {
  top: 659px;
  left: 1263px;
  position: absolute;
  width: 26px;
  height: 26px;
}

.desktop-orders .delete-icon-4 {
  top: 658px;
  left: 1325px;
  position: absolute;
  width: 23px;
  height: 26px;
}

.desktop-orders .edit-icon-5 {
  top: 714px;
  left: 1296px;
  position: absolute;
  width: 21px;
  height: 20px;
}

.desktop-orders .print-icon-5 {
  top: 711px;
  left: 1263px;
  position: absolute;
  width: 26px;
  height: 26px;
}

.desktop-orders .delete-icon-5 {
  top: 710px;
  left: 1325px;
  position: absolute;
  width: 23px;
  height: 26px;
}

.desktop-orders .vector-22 {
  position: absolute;
  width: 5.56%;
  height: 96.00%;
  top: 4.00%;
  left: 94.44%;
}

.desktop-orders .text-wrapper-60 {
  position: absolute;
  top: 562px;
  left: 1018px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #0000ff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-orders .text-wrapper-61 {
  position: absolute;
  top: 663px;
  left: 1018px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #0000ff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}
