.desktop-reports {
  background-color: #f3f3f3;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop-reports .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 290px;
  height: 1024px;
  background-color: #00aeef;
}

.desktop-reports .line {
  top: 143px;
  left: 0;
  width: 290px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.desktop-reports .element {
  position: absolute;
  top: 33px;
  left: 25px;
  width: 79px;
  height: 79px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop-reports .text-wrapper {
  position: absolute;
  top: 55px;
  left: 117px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .div {
  position: absolute;
  top: 76px;
  left: 117px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .img {
  position: absolute;
  top: 0;
  left: 289px;
  width: 1151px;
  height: 104px;
}

.desktop-reports .text-wrapper-2 {
  position: absolute;
  top: 29px;
  left: 337px;
  font-family: "Times New Roman-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-reports .text-wrapper-3 {
  position: absolute;
  top: 61px;
  left: 341px;
  font-family: "Poppins-Thin", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .rectangle-2 {
  position: absolute;
  top: -6095px;
  left: -48190px;
  width: 21px;
  height: 23px;
}

.desktop-reports .sales-report {
  position: absolute;
  top: 127px;
  left: 337px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .p {
  position: absolute;
  top: 165px;
  left: 337px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .rectangle-3 {
  position: absolute;
  top: 203px;
  left: 361px;
  width: 317px;
  height: 97px;
  background-color: #ffffff80;
  border-radius: 10px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .rectangle-4 {
  position: absolute;
  top: 203px;
  left: 704px;
  width: 317px;
  height: 97px;
  background-color: #ffffff80;
  border-radius: 10px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .trending-up-icon {
  position: absolute;
  top: 231px;
  left: 957px;
  width: 40px;
  height: 40px;
  background-image: url(./img/vector-15.svg);
  background-size: 100% 100%;
}

.desktop-reports .vector {
  position: absolute;
  width: 69.38%;
  height: 64.38%;
  top: 35.62%;
  left: 30.63%;
}

.desktop-reports .vector-2 {
  position: absolute;
  width: 41.25%;
  height: 66.25%;
  top: 33.75%;
  left: 58.75%;
}

.desktop-reports .rectangle-5 {
  position: absolute;
  top: 203px;
  left: 1046px;
  width: 317px;
  height: 97px;
  background-color: #ffffff80;
  border-radius: 10px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .text-wrapper-4 {
  position: absolute;
  top: 226px;
  left: 388px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-5 {
  left: 732px;
  position: absolute;
  top: 226px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-6 {
  left: 1074px;
  position: absolute;
  top: 226px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .group {
  position: absolute;
  top: 233px;
  left: 618px;
  width: 38px;
  height: 38px;
  background-color: #9ad87280;
  border-radius: 19px;
}

.desktop-reports .rectangle-6 {
  position: absolute;
  top: 313px;
  left: 362px;
  width: 317px;
  height: 97px;
  background-color: #ffffff80;
  border-radius: 10px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .rectangle-7 {
  position: absolute;
  top: 313px;
  left: 704px;
  width: 317px;
  height: 97px;
  background-color: #ffffff80;
  border-radius: 10px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .rectangle-8 {
  position: absolute;
  top: 313px;
  left: 1046px;
  width: 317px;
  height: 97px;
  background-color: #ffffff80;
  border-radius: 10px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .text-wrapper-7 {
  top: 335px;
  left: 388px;
  font-size: 13px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-8 {
  position: absolute;
  top: 333px;
  left: 732px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-9 {
  position: absolute;
  top: 335px;
  left: 1074px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .group-2 {
  position: absolute;
  top: 341px;
  left: 957px;
  width: 40px;
  height: 40px;
}

.desktop-reports .unpaid-orders-wrapper {
  position: absolute;
  top: 341px;
  left: 1297px;
  width: 40px;
  height: 40px;
  display: flex;
}

.desktop-reports .unpaid-orders {
  width: 40px;
  height: 40px;
  position: relative;
  background-image: url(./img/vector-6.svg);
  background-size: 100% 100%;
}

.desktop-reports .vector-3 {
  position: absolute;
  width: 76.88%;
  height: 76.88%;
  top: 23.12%;
  left: 23.12%;
}

.desktop-reports .vector-4 {
  position: absolute;
  width: 61.88%;
  height: 61.88%;
  top: 38.12%;
  left: 38.12%;
}

.desktop-reports .div-wrapper {
  position: absolute;
  top: 241px;
  left: 630px;
  width: 16px;
  height: 15px;
  display: flex;
  opacity: 0.8;
}

.desktop-reports .text-wrapper-10 {
  width: 14px;
  height: 15px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #008000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .group-3 {
  position: absolute;
  top: 249px;
  left: 403px;
  width: 97px;
  height: 15px;
  display: flex;
}

.desktop-reports .text-wrapper-11 {
  width: 95px;
  height: 15px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .group-4 {
  position: absolute;
  top: 249px;
  left: 732px;
  width: 97px;
  height: 15px;
  display: flex;
}

.desktop-reports .group-5 {
  position: absolute;
  top: 249px;
  left: 1075px;
  width: 97px;
  height: 15px;
  display: flex;
}

.desktop-reports .group-6 {
  position: absolute;
  top: 367px;
  left: 1073px;
  width: 97px;
  height: 15px;
  display: flex;
}

.desktop-reports .group-7 {
  position: absolute;
  top: 367px;
  left: 732px;
  width: 97px;
  height: 15px;
  display: flex;
}

.desktop-reports .group-8 {
  position: absolute;
  top: 249px;
  left: 388px;
  width: 16px;
  height: 15px;
  display: flex;
}

.desktop-reports .text-wrapper-12 {
  width: 14px;
  height: 15px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-reports .group-9 {
  position: absolute;
  top: 367px;
  left: 403px;
  width: 97px;
  height: 15px;
  display: flex;
}

.desktop-reports .group-10 {
  position: absolute;
  top: 367px;
  left: 388px;
  width: 16px;
  height: 15px;
  display: flex;
}

.desktop-reports .icon {
  position: absolute;
  top: 342px;
  left: 617px;
  width: 40px;
  height: 40px;
  background-image: url(./img/vector-5.svg);
  background-size: 100% 100%;
}

.desktop-reports .vector-5 {
  position: absolute;
  width: 66.88%;
  height: 61.88%;
  top: 38.12%;
  left: 33.12%;
}

.desktop-reports .vector-6 {
  position: absolute;
  width: 59.38%;
  height: 69.38%;
  top: 30.63%;
  left: 40.62%;
}

.desktop-reports .vector-7 {
  position: absolute;
  width: 66.88%;
  height: 51.88%;
  top: 48.12%;
  left: 33.12%;
}

.desktop-reports .icon-2 {
  position: absolute;
  top: 226px;
  left: 1297px;
  width: 40px;
  height: 40px;
  background-image: url(./img/vector-17.svg);
  background-size: 100% 100%;
}

.desktop-reports .vector-8 {
  position: absolute;
  width: 66.88%;
  height: 64.38%;
  top: 35.62%;
  left: 33.12%;
}

.desktop-reports .vector-9 {
  position: absolute;
  width: 66.88%;
  height: 54.37%;
  top: 45.62%;
  left: 33.12%;
}

.desktop-reports .rectangle-9 {
  position: absolute;
  top: 432px;
  left: 362px;
  width: 371px;
  height: 284px;
  background-color: #ffffff80;
  border-radius: 10px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .rectangle-10 {
  position: absolute;
  top: 433px;
  left: 757px;
  width: 291px;
  height: 287px;
  background-color: #ffffff80;
  border-radius: 10px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .rectangle-11 {
  position: absolute;
  top: 432px;
  left: 1072px;
  width: 291px;
  height: 284px;
  background-color: #ffffff80;
  border-radius: 10px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .rectangle-12 {
  position: absolute;
  top: 744px;
  left: 355px;
  width: 1008px;
  height: 245px;
  background-color: #ffffff80;
  border-radius: 10px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .rectangle-13 {
  position: absolute;
  top: 800px;
  left: 397px;
  width: 917px;
  height: 47px;
  background-color: #ffffff80;
  border-radius: 5px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .rectangle-14 {
  position: absolute;
  top: 857px;
  left: 397px;
  width: 917px;
  height: 47px;
  background-color: #ffffff80;
  border-radius: 5px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .rectangle-15 {
  position: absolute;
  top: 914px;
  left: 397px;
  width: 917px;
  height: 47px;
  background-color: #ffffff80;
  border-radius: 5px;
  border: 1px solid;
  border-color: #00000026;
}

.desktop-reports .text-wrapper-13 {
  position: absolute;
  top: 766px;
  left: 388px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-14 {
  position: absolute;
  top: 460px;
  left: 388px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-15 {
  position: absolute;
  top: 460px;
  left: 780px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-16 {
  position: absolute;
  top: 652px;
  left: 892px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #2f2fe4;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-17 {
  position: absolute;
  top: 666px;
  left: 892px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ff0000;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-18 {
  position: absolute;
  top: 569px;
  left: 967px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #2f2fe4;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-19 {
  position: absolute;
  top: 522px;
  left: 792px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ff0000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-20 {
  position: absolute;
  top: 460px;
  left: 1095px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-21 {
  position: absolute;
  top: 498px;
  left: 379px;
  width: 5px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-22 {
  position: absolute;
  top: 537px;
  left: 379px;
  width: 4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-23 {
  position: absolute;
  top: 574px;
  left: 379px;
  width: 4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-24 {
  position: absolute;
  top: 614px;
  left: 379px;
  width: 3px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-25 {
  position: absolute;
  top: 644px;
  left: 379px;
  width: 5px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY {
  position: absolute;
  top: 664px;
  left: 407px;
  width: 25px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-2 {
  top: 664px;
  left: 423px;
  width: 25px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-3 {
  top: 664px;
  left: 440px;
  width: 25px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-4 {
  top: 664px;
  left: 457px;
  width: 25px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-5 {
  top: 664px;
  left: 475px;
  width: 25px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-6 {
  top: 664px;
  left: 493px;
  width: 25px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-7 {
  top: 664px;
  left: 512px;
  width: 25px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-8 {
  top: 664px;
  left: 531px;
  width: 26px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-9 {
  top: 664px;
  left: 550px;
  width: 26px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-10 {
  top: 664px;
  left: 569px;
  width: 26px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-11 {
  top: 664px;
  left: 588px;
  width: 26px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-12 {
  top: 664px;
  left: 608px;
  width: 25px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-13 {
  top: 664px;
  left: 628px;
  width: 25px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-14 {
  top: 664px;
  left: 648px;
  width: 25px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-15 {
  top: 664px;
  left: 666px;
  width: 25px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .MAY-16 {
  top: 664px;
  left: 685px;
  width: 26px;
  color: #000000a6;
  font-size: 5px;
  text-align: center;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-26 {
  position: absolute;
  top: 498px;
  left: 392px;
  width: 323px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-27 {
  position: absolute;
  top: 572px;
  left: 633px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-28 {
  position: absolute;
  top: 572px;
  left: 625px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-29 {
  position: absolute;
  top: 573px;
  left: 605px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-30 {
  position: absolute;
  top: 573px;
  left: 587px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-31 {
  position: absolute;
  top: 575px;
  left: 567px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-32 {
  position: absolute;
  top: 573px;
  left: 547px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-33 {
  position: absolute;
  top: 573px;
  left: 527px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-34 {
  position: absolute;
  top: 572px;
  left: 509px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-35 {
  position: absolute;
  top: 573px;
  left: 490px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-36 {
  position: absolute;
  top: 575px;
  left: 470px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-37 {
  position: absolute;
  top: 575px;
  left: 451px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-38 {
  position: absolute;
  top: 575px;
  left: 432px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-39 {
  position: absolute;
  top: 575px;
  left: 413px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-40 {
  position: absolute;
  top: 575px;
  left: 395px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-41 {
  position: absolute;
  top: 576px;
  left: 392px;
  width: 323px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-42 {
  position: absolute;
  top: 614px;
  left: 392px;
  width: 323px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-43 {
  position: absolute;
  top: 537px;
  left: 392px;
  width: 323px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .line-2 {
  top: 503px;
  left: 401px;
  width: 1px;
  height: 150px;
  position: absolute;
  object-fit: cover;
}

.desktop-reports .line-3 {
  top: 652px;
  left: 396px;
  width: 321px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.desktop-reports .vector-10 {
  position: absolute;
  top: 504px;
  left: 396px;
  width: 5px;
  height: 1px;
  object-fit: cover;
}

.desktop-reports .vector-11 {
  position: absolute;
  top: 653px;
  left: 416px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-12 {
  position: absolute;
  top: 653px;
  left: 434px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-13 {
  position: absolute;
  top: 653px;
  left: 452px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-14 {
  position: absolute;
  top: 653px;
  left: 468px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-15 {
  position: absolute;
  top: 653px;
  left: 486px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-16 {
  position: absolute;
  top: 653px;
  left: 524px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-17 {
  position: absolute;
  top: 653px;
  left: 504px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-18 {
  position: absolute;
  top: 653px;
  left: 706px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-19 {
  position: absolute;
  top: 653px;
  left: 640px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-20 {
  position: absolute;
  top: 653px;
  left: 620px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-21 {
  position: absolute;
  top: 653px;
  left: 678px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-22 {
  position: absolute;
  top: 653px;
  left: 660px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-23 {
  position: absolute;
  top: 653px;
  left: 698px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-24 {
  position: absolute;
  top: 653px;
  left: 562px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-25 {
  position: absolute;
  top: 653px;
  left: 544px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-26 {
  position: absolute;
  top: 653px;
  left: 600px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-27 {
  position: absolute;
  top: 653px;
  left: 582px;
  width: 1px;
  height: 5px;
  object-fit: cover;
}

.desktop-reports .vector-28 {
  position: absolute;
  top: 542px;
  left: 396px;
  width: 5px;
  height: 1px;
  object-fit: cover;
}

.desktop-reports .vector-29 {
  position: absolute;
  top: 580px;
  left: 396px;
  width: 5px;
  height: 1px;
  object-fit: cover;
}

.desktop-reports .vector-30 {
  position: absolute;
  top: 620px;
  left: 396px;
  width: 5px;
  height: 1px;
  object-fit: cover;
}

.desktop-reports .text-wrapper-44 {
  position: absolute;
  top: 573px;
  left: 379px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-45 {
  position: absolute;
  top: 573px;
  left: 361px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-46 {
  position: absolute;
  top: 572px;
  left: 343px;
  width: 149px;
  transform: rotate(89.95deg);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000066;
  font-size: 8px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-47 {
  position: absolute;
  top: 642px;
  left: 877px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #ff0000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-48 {
  position: absolute;
  top: 629px;
  left: 877px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f2fe4;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-49 {
  position: absolute;
  top: 650px;
  left: 1207px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #3f3b94;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-50 {
  position: absolute;
  top: 662px;
  left: 1207px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #2caffe;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-51 {
  position: absolute;
  top: 675px;
  left: 1207px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00e272;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-52 {
  position: absolute;
  top: 639px;
  left: 1192px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #2caffe;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-53 {
  position: absolute;
  top: 651px;
  left: 1192px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #00e272;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-54 {
  position: absolute;
  top: 626px;
  left: 1192px;
  font-family: "Playfair Display-SemiBold", Helvetica;
  font-weight: 600;
  color: #3f3b94;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .vector-31 {
  position: absolute;
  width: 70.83%;
  height: 21.09%;
  top: 78.91%;
  left: 29.17%;
}

.desktop-reports .vector-32 {
  position: absolute;
  width: 70.83%;
  height: 15.43%;
  top: 84.57%;
  left: 29.17%;
}

.desktop-reports .vector-33 {
  position: absolute;
  width: 70.83%;
  height: 9.96%;
  top: 90.04%;
  left: 29.17%;
}

.desktop-reports .text-wrapper-55 {
  position: absolute;
  top: 813px;
  left: 432px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #2c5ead;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-56 {
  position: absolute;
  top: 870px;
  left: 430px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #2c5ead;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .pie-chart {
  position: absolute;
  top: 490px;
  left: 1082px;
  width: 495px;
  height: 150px;
  aspect-ratio: 3.3;
}

.desktop-reports .group-11 {
  position: absolute;
  width: 11.49%;
  height: 62.43%;
  top: 15.89%;
  left: 26.89%;
}

.desktop-reports .vector-34 {
  position: absolute;
  width: 42.10%;
  height: 51.43%;
  top: 48.57%;
  left: 57.90%;
}

.desktop-reports .vector-35 {
  position: absolute;
  width: 100.88%;
  height: 51.43%;
  top: 48.57%;
  left: 0;
}

.desktop-reports .vector-36 {
  position: absolute;
  width: 100.88%;
  height: 100.53%;
  top: 0;
  left: 0;
}

.desktop-reports .group-12 {
  position: absolute;
  width: 10.93%;
  height: 37.90%;
  top: 15.89%;
  left: 15.97%;
}

.desktop-reports .vector-37 {
  position: absolute;
  width: 100.92%;
  height: 44.72%;
  top: 55.28%;
  left: 0;
}

.desktop-reports .vector-38 {
  position: absolute;
  width: 101.26%;
  height: 100.88%;
  top: 0;
  left: 0;
}

.desktop-reports .group-13 {
  position: absolute;
  width: 18.25%;
  height: 47.27%;
  top: 36.84%;
  left: 15.40%;
}

.desktop-reports .vector-39 {
  position: absolute;
  width: 100.55%;
  height: 80.18%;
  top: 19.82%;
  left: 0;
}

.desktop-reports .vector-40 {
  position: absolute;
  width: 100.55%;
  height: 100.84%;
  top: 0;
  left: 0;
}

.desktop-reports .text-wrapper-57 {
  position: absolute;
  width: 12.12%;
  height: 7.33%;
  top: 16.00%;
  left: 5.45%;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00e272;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-58 {
  position: absolute;
  width: 13.74%;
  height: 7.33%;
  top: 84.00%;
  left: 7.68%;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #3f3b94;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-59 {
  position: absolute;
  width: 10.51%;
  height: 7.33%;
  top: 42.67%;
  left: 41.41%;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #2caffe;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .pie-chart-2 {
  position: absolute;
  top: 493px;
  left: 772px;
  width: 249px;
  height: 144px;
  aspect-ratio: 1.73;
}

.desktop-reports .text-wrapper-60 {
  position: absolute;
  top: 926px;
  left: 430px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #2c5ead;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-61 {
  top: 807px;
  left: 469px;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-62 {
  position: absolute;
  top: 826px;
  left: 469px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-63 {
  top: 882px;
  left: 469px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-64 {
  top: 826px;
  left: 1230px;
  font-size: 8px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-65 {
  position: absolute;
  top: 809px;
  left: 1232px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-66 {
  top: 883px;
  left: 1232px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-67 {
  position: absolute;
  top: 866px;
  left: 1236px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-68 {
  position: absolute;
  top: 864px;
  left: 469px;
  width: 204px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-69 {
  top: 940px;
  left: 465px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-70 {
  top: 941px;
  left: 1228px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000a6;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-71 {
  position: absolute;
  top: 924px;
  left: 1232px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-72 {
  top: 922px;
  left: 465px;
  width: 204px;
  color: #000000;
  font-size: 13px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .vector-41 {
  position: absolute;
  width: 5.56%;
  height: 96.00%;
  top: 4.00%;
  left: 94.44%;
}

.desktop-reports .line-4 {
  top: 865px;
  left: 0;
  width: 290px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.desktop-reports .rectangle-16 {
  position: absolute;
  top: 890px;
  left: 22px;
  width: 246px;
  height: 58px;
}

.desktop-reports .text-wrapper-73 {
  position: absolute;
  top: 901px;
  left: 51px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .text-wrapper-74 {
  position: absolute;
  top: 915px;
  left: 50px;
  font-family: "Poppins-ThinItalic", Helvetica;
  font-weight: 100;
  font-style: italic;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .frame {
  position: absolute;
  top: 329px;
  left: 49px;
  width: 106px;
  height: 24px;
  display: flex;
  gap: 29.4px;
}

.desktop-reports .union {
  width: 25.17px;
  height: 24.42px;
}

.desktop-reports .text-wrapper-75 {
  margin-top: 0.7px;
  width: 51px;
  height: 23px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .frame-2 {
  position: absolute;
  top: 390px;
  left: 27px;
  width: 232px;
  height: 44px;
  display: flex;
  gap: 28px;
}

.desktop-reports .frame-3 {
  margin-top: 7px;
  width: 29px;
  height: 29px;
  position: relative;
  margin-left: 19px;
  aspect-ratio: 1;
}

.desktop-reports .vector-42 {
  position: absolute;
  width: 93.68%;
  height: 39.52%;
  top: 60.48%;
  left: 6.32%;
}

.desktop-reports .vector-43 {
  position: absolute;
  width: 35.36%;
  height: 88.98%;
  top: 11.02%;
  left: 64.64%;
}

.desktop-reports .vector-44 {
  position: absolute;
  width: 22.86%;
  height: 38.97%;
  top: 61.03%;
  left: 77.14%;
}

.desktop-reports .vector-45 {
  position: absolute;
  width: 81.18%;
  height: 89.52%;
  top: 10.48%;
  left: 18.82%;
}

.desktop-reports .text-wrapper-76 {
  margin-top: 11px;
  width: 84px;
  height: 23px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .rectangle-17 {
  position: absolute;
  top: 463px;
  left: 20px;
  width: 246px;
  height: 58px;
}

.desktop-reports .frame-4 {
  position: absolute;
  top: 470px;
  left: 48px;
  width: 201px;
  height: 33px;
  display: flex;
  gap: 21px;
}

.desktop-reports .frame-5 {
  width: 33px;
  height: 33px;
  position: relative;
  aspect-ratio: 1;
}

.desktop-reports .vector-46 {
  position: absolute;
  width: 89.28%;
  height: 89.27%;
  top: 10.73%;
  left: 10.72%;
}

.desktop-reports .vector-47 {
  position: absolute;
  width: 26.78%;
  height: 64.27%;
  top: 35.73%;
  left: 73.22%;
}

.desktop-reports .vector-48 {
  position: absolute;
  width: 47.61%;
  height: 80.94%;
  top: 19.06%;
  left: 52.39%;
}

.desktop-reports .vector-49 {
  position: absolute;
  width: 68.44%;
  height: 43.44%;
  top: 56.56%;
  left: 31.56%;
}

.desktop-reports .reports-analytics {
  margin-top: 6px;
  width: 152px;
  height: 23px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .frame-6 {
  position: absolute;
  top: 248px;
  left: 49px;
  width: 140px;
  height: 31px;
  display: flex;
  gap: 24px;
}

.desktop-reports .container {
  width: 31px;
  height: 31px;
  position: relative;
}

.desktop-reports .text-wrapper-77 {
  margin-top: 4px;
  width: 85px;
  height: 23px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-reports .frame-7 {
  position: absolute;
  top: 964px;
  left: 33px;
  width: 97px;
  height: 24px;
}

.desktop-reports .vector-50 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.desktop-reports .text-wrapper-78 {
  position: absolute;
  top: 1px;
  left: 45px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}
